@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&display=swap');

html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#quote-box {
	background-color: white;
	margin: 0 auto;
	padding: 50px;
	border-radius: 5px;
}

#text {
	text-align: center;
	font-size: 28px;
	font-family: "Josefin Sans", sans-serif;
	position: relative;
	padding: 5px;
}

#author {
	text-align: right;
	font-family: "Montserrat", sans-serif;
	margin-top: 15px;
}

.icon {
	color: white;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}

.social-button {
	margin-right: 5px;
	padding: 10px 30px;
	font-size: 16pt;
	border-radius: 5px;
}

#new-quote,
.social-button {
	padding: 10px 30px;
	border-radius: 5px;
	border: none;
	font-size: 16pt;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}

.social-button:hover,
#new-quote:hover {
	filter: brightness(2);
}

p {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}
